openapi: 3.0.3
info:
  title: DOKUMEN API  BERKEMAHS BACKEND
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  contact:
    email: raulmahya11@gmail.com
  license:
    name: Berkemah Backend
    url: https://pkg.go.dev/github.com/raulmahya123/salon
  version: 1.0.0
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/raulmahya123/salon
servers:
  - url: https://asia-southeast2-testlogin-366704.cloudfunctions.net
paths:
  /create-account-berkemah:
    post:
      tags:
        - User / Admin
      summary: Create User
      description: Create User
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccount'
      responses:
        '200':
          description: successful operation user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreateAccount'
        '400':
          description: Invalid response
  /login_berkemah:
    post:
      tags:
        - User / Admin
      summary: Login
      description: Login User
      operationId: LoginAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Auth'
        '400':
          description: Invalid response
  /get-user-berkemah:
    get:
      tags:
        - User / Admin
      summary: Get Data all User
      description: Get Data all User
      operationId: getUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreateAccount'
        '400':
          description: Invalid response
      security:
        - token: []
  /delete-user-berkemah:
    delete:
      tags:
        - User / Admin
      summary: delete Account user Data berdasarkan username
      description: delete Account User
      operationId: delete Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccount' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreateProduct'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /update-name-berkemah:
    patch:
      tags:
        - User / Admin
      summary: Update name Data berdasarkan username
      description: Update Username data
      operationId: Update Username
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccount' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreateAccount'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /forgot-account-berkemah:
    post:
      tags:
        - User / Admin
      summary: Lupa Password berdasarkan username
      description: Lupa Password BY Username
      operationId: Lupa Password BY Username
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccount' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreateAccount'
        '400':
          description: Invalid input or request body
  /decode-token-berkemah:
    post:
      tags:
        - User / Admin
      summary: Get Data all User
      description: Get Data all User
      operationId: getUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CreateAccount'
        '400':
          description: Invalid response
      security:
        - token: []         
components:
  schemas:
    Auth:
      type: object
      properties:
        username:
          type: string
          example: raull
        password:
          type: string
          example: ganteng
    CreateAccount:
      type: object
      properties:
        username:
          type: string
          example: contoh
        password:
          type: string
          example: contoh
        name:
          type: string
          example: udin
        role:
          type: string
          example: admin/user
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
